@charset "UTF-8";
<style>
	body {
      width: auto;
      margin: 200px;
   }
	#bodyLevelResult {
	 	margin:280px auto 50px auto;
		width: 600px;
  		height: 300px;
	}
	.icon1 {
		position: fixed; top:150px; left: 700px;
		width: 60px; 
		height: auto;
		z-index: 1;
	}
	.icon2 {
		position: fixed; top:150px; left: 900px;
		width: 60px; 
		height: auto;
		z-index: 1;
	}
	.icon3 {
		position: fixed; top:150px; left: 1100px;
		width: 60px; 
		height: auto;
		z-index: 1;
	}

   	
	
</style>