@charset "UTF-8";
<style>
	body {
      width: auto;
      margin: 200px;
   }
	#bodyLevelResult {
	 	margin:280px auto 50px auto;
		width: 600px;
  		height: 300px;
	}
	.icon1 {
		position: fixed; top:150px; left: 470px;
		width: 60px; 
		height: auto;
	}
	.icon2 {
		position: fixed; top:150px; left: 570px;
		width: 60px; 
		height: auto;
	}
	.icon3 {
		position: fixed; top:150px; left: 670px;
		width: 60px; 
		height: auto;
	}

	.iconposition {
		
	}

   	
	
</style>