@charset "UTF-8";
<style>
	body {

	}
	.content {
		margin-top:130px;
		padding: 20px;
		margin-bottom:150px;
	}
	img {
		width: 420px;
		height: auto;
	}
	img:hover {
		opacity:0.7;
	}
	.photo {
		margin : 15px;
	}
	.title {
		padding:30px 30px;
		text-align:center;
		font-family:"배달의민족 도현";
		font-size:20px;
	} 
	.sub {
		padding:0px 20px;
		font-family:"나눔스퀘어라운드";
		font-size:17px;
	}

	.photoTable {
		text-align:center;
	}

</style>