@charset "UTF-8";
<style>
	.ul1 {
   
      margin-left: auto;
      margin-right: auto;
      vertical-align: bottom;
      
   }
   .li1 {
      padding: 0px 30px;
      font-size: 30px;
   }
   
   .content {
      text-align: center;
      padding: 10px;
      min-height: calc(100vh - 20px);
   }
   body {
      width: auto;
      margin: 200px;      
   }
   #inputposition {
      position: relative;
      left: 215px;
   }
   .jumbotron {
   	padding: 10px;
   	margin: 0px;
   }
   .wid {
	position:fixed; top:75px; left: 700px;
	margin-left: auto;
    margin-right: auto;
	font-size: 20px;
   }
   .ul2 {
    
   		background-color: white;
   }
   
   .mansurveyForm {
		width: 1200px;
		margin: 0 auto;
		padding-left: 100px;
	}

	fieldset{

    border: 2px solid white !important;
    padding: 0 1.4em 1.4em 2em !important;
    
    -webkit-box-shadow:  0px 0px 0px 0px #12406A;
            box-shadow:  0px 0px 0px 0px #12406A;
    min-width: 1000px;
    max-width: 1000px;    
    margin: 0px auto;
	margin-bottom: 50px;

	background-color: white;
	}
	table tr td {
		padding: 10px 0;
		width: 200px;
		font-family: 나눔스퀘어;
		font-size: 1.3em;
	}
	.buttons {
		text-align: right;
		width: 1000px;
	}
	.buttons input {
		width: 100px;
		height: 50px;
	}
	.labelwidth {
		width: 200px;
		font-family: Rix광안리;
		font-weight: 600;
		font-size: 1.5em;
	}
	#resetButton {
  		background-color: #6A6A61;
  		width: 150px;	height: 50px;
  		border: none;
  		color: white;
  		padding: 10px;
  		text-align: center;
  		font-size: 1.5em;
  		font-family:나눔스퀘어OTF Light;
  		font-weight: 600;
  		margin: 4px 2px;
  		opacity: 1;
  		transition: 0.3s;
  		display: inline-block;
  		text-decoration: none;
  		cursor: pointer;
	}

	#submitButton {
  		background-color: #611427;
  		width: 150px;	height: 50px;
  		border: none;
  		color: white;
  		padding: 10px;
  		text-align: center;
  		font-size: 1.5em;
  		font-family: 나눔스퀘어OTF Light;
  		font-weight: 600;
  		margin: 4px 2px;
 		opacity: 1;
  		transition: 0.3s;
  		display: inline-block;
  		text-decoration: none;
  		cursor: pointer;
	}

	#submitButton:hover, #resetButton:hover {
		background-color:#1D2326;
	}
	#legendwid {
		width: auto;
		height: 60px;
		padding:10px 20px; /* To give a bit of padding on the left and right */
    	color: #f8f9fa;
    	background-color: #6A6A61;
		font-family: 나눔스퀘어OTF Light;
		font-weight: bold;
    	font-size: 1.4em;
		border-style: inset;
    	border-color: #929292;
    	border-width: 3px 6px 3px 6px;
	}
	#surveyFormBackColor {
   	  background-color: #DDDCC5;
   }
</style>