@charset "UTF-8";
<style>
	body {
      width: auto;
      margin: 200px;
   }
   .logo {
   	position: absolute;
   	top: 0;
   	left: 0;
   	height: 150px;
   	width: 300px;
   	background-color: #F0F8FF;
   	z-index: 10;
   }
   
   .imgwid1 {
   		position: absolute;  left:150px; top:149px;
   		width: 500px; height: 300px;
   	
   }
   .imgwid2 {
   		position: absolute; left:700px; top:149px;
   		width: 500px; height: 300px;
   }
   .imgwid3 {
   		position: absolute; left:1253px; top:149px;
   		width: 500px; height: 300px;
   }
  
   .container {
   		height: 900px;
   		background-color: ;
   }
   .contents {
   		margin: 0 auto;
        margin-top: 150px;
        margin-bottom: 100px;
   }
   .headline1 {
   		position: absolute;
   		left: 860px;
   		top: 505px;
   		text-align: center;
   }
   .headline1_1 {
   		 position: absolute; left: 813px; top: 554px;
   		 text-align: center;
   		 font-size: 17px;

   }
 
</style>